# ignore anything ending in a tilde
*~

# ignore flex and bison intermediate files
lex.yy.c
*.tab.c
*.tab.h

# ignore *.o
*.o

# my usual nonsense
res
*.bat
*.zip
*.log

SciTE property files
*.properties


# libomxilpcmrender test prog
coretest

# ignore raw pcm and wav files
*.raw
*.wav

# test executables
raspberry-pi-audio/libilctts/testlib/testlib
raspberry-pi-audio/libilctts/testlist/testlist
raspberry-pi-audio/libilctts/testqueue/testqueue
raspberry-pi-audio/libilctts/testringbuffer/testringbuffer

# dependancy files
*.d

# generated libraries
*.so
*.so.*

# text files
*.txt


