# ignore anything ending in a tilde
*~

# ignore flex and bison intermediate files
*.yy.c
*.tab.c
*.tab.h

# ignore *.o
*.o

# my usual nonsense
res
*.bat
*.zip
*.log

SciTE files
*.properties
*.session

# ignore raw pcm and wav files
*.raw
*.wav

# test binaries
testlib

# dependancy files
*.d

# generated libraries
*.so
*.so.*

# text files
*.txt


