# modified from espeakup.service with a few additions.
[Unit]
Description=Software speech output for Speakup

[Service]
Type=forking
PIDFile=/run/piespeakup.pid
ExecStart=/usr/local/bin/piespeakup --device=local
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
